<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/home" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>TellevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text class="ion-text-center" color="dark">
    <h1>Detalle del viaje</h1>
  </ion-text>
    <br>
    <ion-item lines="none">
      <ion-label color="tertiary" class="ion-text-center bolded">Informacion del viaje</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-text position="floating" class="bolded">Conductor: {{viaje.username}}</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-text position="floating" class="bolded">Destino: {{viaje.destino}}</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-text position="floating" class="bolded">Cantidad de personas: {{viaje.cantidadpsj}}</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-text position="floating" class="bolded">Costo por persona: {{viaje.costo}}</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-text position="floating" class="bolded">Hora de salida: {{viaje.horasalida}}</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-text position="floating" class="bolded">Comentario/preferencia: {{viaje.comentario}}</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-label color="tertiary" class="ion-text-center bolded">Informacion del vehiculo</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-text position="floating" class="bolded">Patente: {{viaje.patente}}</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-text position="floating" class="bolded">Marca: {{vehiculo.marca}}</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-text position="floating" class="bolded">Modelo: {{vehiculo.modelo}}</ion-text>
    </ion-item>
    <ion-button color="tertiary" class="ion-padding ion-margin-bottom" [routerLink]="['/seguimientoviaje',viaje.id]" (click)="reservarviaje()" expand="block" >
      Reservar viaje
    </ion-button>
</ion-content>