<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/chats" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>TellevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text class="ion-text-center" color="dark">
    <h1>Detalle del viaje</h1>
  </ion-text>
  <ion-card>
    <br>
    <ion-item lines="none">
      <ion-text position="floating">Destino: Rio laja 6111</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-text position="floating">Cantidad de personas: 3</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-text position="floating">Costo por persona: $1000</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-text position="floating">Comentario/preferencia: Pago preferentemente con tarjetas</ion-text>
    </ion-item>
    <br>
  </ion-card>
  <ion-text class="ion-text-center" color="dark">
    <h1>Detalle del vehiculo</h1>
  </ion-text>
  <ion-card>
    <ion-item lines="none">
      <ion-text position="floating">Patente: VHRL66</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-text position="floating">Marca: Nissan</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-text position="floating">Modelo: V16</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-img src="/assets/nissan.jpg"></ion-img>
    </ion-item>
  </ion-card>
  <br>
  <ion-button color="tertiary"  routerLink="/seguimientoviaje" expand="block" >
    Iniciar viaje
  </ion-button>
</ion-content>