<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/cuenta" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>TellevoAPP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-text color="warning" class="ion-text-center">
    <h1>Chat de soporte</h1>
  </ion-text>
  <ion-item>
    <ion-label class="ion-text-center">Bot</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descripcion mensaje</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  <ion-button expand="block" shape="round" class="ion-margin-top">
    Enviar mensaje
  </ion-button>
</ion-content>