<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/home" [routerLink]="['/home']" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>TellevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text class="ion-text-center" color="dark">
    <h1>Seguimiento del viaje</h1>
  </ion-text>
  <ion-card>
    <ion-img src="/assets/uber-viaje.jpg"></ion-img>
    <ion-item lines="none">
      <ion-text position="floating">Tiempo estimado: 10m</ion-text>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-title *ngIf="viaje.estado==true" class="ion-padding-top ion-text-center">Viaje en curso</ion-card-title>
    <ion-item lines="none">
      <ion-text position="floating">Destino: {{viaje.destino}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text position="floating">Patente: {{viaje.patente}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text position="floating">Costo estimado: {{'$'+viaje.costo}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text position="floating">Maximo de pasajeros: {{viaje.cantidadpsj}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text position="floating">Comentario: {{viaje.comentario}}</ion-text>
    </ion-item>
  </ion-card>

  <ion-button (click)="onSumbit()" *ngIf="viaje.estado==false" color="tertiary" expand="block">
    Cancelar viaje
  </ion-button>
</ion-content>

<app-tabs></app-tabs>