<ion-header>
  <ion-toolbar color="tertiary" >
    <ion-title>TellevoAPP</ion-title>
    <ion-buttons class="ion-margin-horizontal" routerLink="/perfil" slot="end">
      <ion-icon class="iconos" size="large" name="person-circle-outline"></ion-icon>{{nombrusr}}
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <h2 class="ion-text-center tracking-in-expand">Bienvenido(a) nuevamente!!</h2>
  <h3 class="ion-text-center rotate-scale-up" color="primary">{{nombrusr}}</h3> -->
  <div class="container"><iframe class="responsive-iframe"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6390.126423008361!2d-73.06449253432953!3d-36.79303479434022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9669b4503c9a1735%3A0x3fc32996839e6986!2sDuoc%20UC%3A%20Sede%20San%20Andr%C3%A9s%20De%20Concepci%C3%B3n!5e0!3m2!1ses-419!2scl!4v1662608822028!5m2!1ses-419!2scl"
      frameborder="0" allowfullscreen=""></iframe>
  </div>
  <ion-card class="ion-padding">
    <ion-list class="slide-in-left" *ngIf="check==true">
        <ion-item lines="none">
          <ion-text position="floating">Destino: {{viaje.destino}}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text position="floating">Patente: {{viaje.patente}}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text position="floating">Costo estimado: {{'$'+viaje.costo}}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text position="floating">Maximo de pasajeros: {{viaje.cantidadpsj}}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text position="floating" type="">Hora de salida: {{viaje.horasalida}}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text position="floating">Comentario: {{viaje.comentario}}</ion-text>
        </ion-item>
        <br>
        <ion-button routerLink="/seguimientoviajecon" class="ion-padding" color="tertiary" expand="block">
          Ir a seguimiento
        </ion-button>
        <br>
    </ion-list>
    <form class="ion-text-center slide-in-left" #frmvia="ngForm" *ngIf="check==false" (ngSubmit)="onSumbitbtn()">
      <ion-text class="ion-text-center" color="dark">
        <h1>Programar viaje</h1>
      </ion-text>
      <ion-item>
        <ion-label position="floating">Destino</ion-label>
        <ion-input clearInput [(ngModel)]="viaje.destino" name="destino" type="text" placeholder="Ciudad/sector destino" required>
        </ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Cantidad de personas</ion-label>
        <ion-input clearInput [(ngModel)]="viaje.cantidadpsj" name="cantidadper" type="number" placeholder="Rango: 1-4 pasajeros" required>
        </ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Costo por persona</ion-label>
        <ion-input clearInput [(ngModel)]="viaje.costo" name="costoporp" type="number" placeholder="Rango: $500-$5000" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Hora de salida</ion-label>
        <ion-input clearInput [(ngModel)]="viaje.horasalida" name="horasalida" type="time" placeholder="0" required></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Comentario/preferencia</ion-label>
        <ion-input clearInput [(ngModel)]="viaje.comentario" name="comentario" type="text" placeholder=""></ion-input>
      </ion-item>
      <br>
      <div class="center">
        <ion-button class="centrar" color="tertiary" type="submit" [disabled]="frmvia.invalid">Crear viaje</ion-button>
      </div>
      <br>
    </form>
  </ion-card>
</ion-content>

<app-tabscon></app-tabscon>