<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/homecon" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>TellevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text class="ion-text-center" color="dark">
    <h1>Detalle del viaje</h1>
  </ion-text>
  <ion-card class="scale-in-center">
    <br>
    <ion-item lines="none">
      <ion-text position="floating">Destino: Rio laja 6111</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-text position="floating">Cantidad de personas: 3</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-text position="floating">Costo por persona: $1000</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-text position="floating">Comentario/preferencia: Pago preferentemente con tarjetas</ion-text>
    </ion-item>
    <br>
  </ion-card>
  <ion-text class="ion-text-center" color="dark">
    <h1>Pasajeros</h1>
  </ion-text>
  <ion-card class="scale-in-center">
    <br>
    <ion-item lines="none">
      <ion-icon slot="start" name="person-sharp"></ion-icon>
      <ion-text position="floating">Pasajero 1: Nestor Valenzuela</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-icon slot="start" name="person-sharp"></ion-icon>
      <ion-text position="floating">Pasajero 2: Pedro Sanmartin</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-icon slot="start" name="person-sharp"></ion-icon>
      <ion-text position="floating">Pasajero 3:</ion-text>
    </ion-item>
    <br>
  </ion-card>
  <br>
  <ion-button color="tertiary"  routerLink="/seguimientoviajecon" expand="block" >
    Iniciar viaje
  </ion-button>
</ion-content>
