<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>TellevoAPP</ion-title>
    <ion-buttons class="ion-margin-horizontal" routerLink="/perfil" slot="end">
      <ion-icon class="iconos" size="large" name="person-circle-outline"></ion-icon>{{nombrusr}}
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="warning" class="ion-text-center">
    <h1>Historial de viajes</h1>
  </ion-text>

  <ion-card *ngFor="let item of coleccion" class="scale-in-center">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Destino</ion-card-subtitle>
      <ion-card-title>{{item.destino}}</ion-card-title>
    </ion-card-header>
    <ion-item lines="none" mode="ios"
      class="animate__animated animate__lightSpeedInRight">
      <ion-label class="bolded" size="large">Estado: {{item.estado}}</ion-label>
    </ion-item>
    <ion-item lines="none" mode="ios"
      class="animate__animated animate__lightSpeedInRight">
      <ion-label class="bolded" size="large">Conductor: {{item.username}}</ion-label>
    </ion-item>
    <ion-item lines="none" mode="ios"
      class="animate__animated animate__lightSpeedInRight">
      <ion-label class="bolded" size="large">Costo: {{item.costo}}</ion-label>
    </ion-item>
    <ion-item lines="none" mode="ios"
      class="animate__animated animate__lightSpeedInRight">
      <ion-label class="bolded" size="large">Hora salida: {{item.horasalida}}</ion-label>
    </ion-item>
    <ion-item lines="none" *ngIf="tipousuario==true" mode="ios"
      class="animate__animated animate__lightSpeedInRight">
      <ion-label class="bolded" size="large">Pasajeros: </ion-label>
    </ion-item>
    <ion-item *ngFor="let item of mostarpas"  lines="none" mode="ios"
        class="animate__animated animate__lightSpeedInRight">
        <ion-label class="ion-text-center" *ngIf="tipousuario==true" size="large">{{item.username}}</ion-label>
    </ion-item>
    
    
  </ion-card>
</ion-content>

<app-tabs></app-tabs>