<ion-content>
  <ion-card>
    <ion-text color="warning" class="ion-text-center">
      <h1>Chats</h1>
    </ion-text>
    <ion-list>
      <ion-item *ngFor="let user of users">
        <ion-avatar slot="start">
          <img src="../../assets/imgstarwars/{{user.image}}">
        </ion-avatar>
        <ion-label>
          <h2 class="colorBlue">{{user.name}}</h2>
          <p>{{user.state}}</p>
          <p>{{user.description}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<app-tabscon></app-tabscon>