<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/cuenta" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>TellevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h1>Ayuda</h1>
  </ion-text>
  <ion-text color="warning">
    <h5>Asistencia</h5>
  </ion-text>
  <ion-list>
    <ion-item>
      <ion-label>Los conductores no responden</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cómo dejarle un comentario a un conductor</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cómo quejarse</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cómo encontrar las pertenencias que olvidé</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cómo usar el servicio de repartidores</ion-label>
    </ion-item>
  </ion-list>
  <ion-text color="warning">
    <h5>Realimentación</h5>
  </ion-text>
  <ion-list>
    <ion-item>
      <ion-label>Escribir al equipo de soporte</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Escribir en el correo electronico</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
