<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom" color="tertiary">
        <ion-tab-button (click)="onClickchat()">
          <ion-icon name="mail-unread-sharp"></ion-icon>
          <ion-label>Chats</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="onClickhome()">
          <ion-icon name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="onClickcuenta()">
          <ion-icon name="person-sharp"></ion-icon>
          <ion-label>Cuenta</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
