<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom" color="tertiary">
        <ion-tab-button href="home">
          <ion-icon name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
        <ion-tab-button href="actividad">
          <ion-icon name="clipboard-sharp"></ion-icon>
          <ion-label>Actividad</ion-label>
        </ion-tab-button>
        <ion-tab-button href="cuenta">
          <ion-icon name="person-sharp"></ion-icon>
          <ion-label>Cuenta</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
