<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/cuenta" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>TellevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="tertiary" class="ion-text-center">
    <h1>Metodos de pago</h1>
  </ion-text>
  <ion-list>
    <br>
    <ion-radio-group allowEmptySelection="true" value="efectivo">
      <ion-item lines="none">
        <ion-icon name="card-outline"></ion-icon>
        <ion-label>Debito: mia vieja, bnc estado</ion-label>
        <ion-radio slot="start" value="debito"></ion-radio>
      </ion-item>

      <ion-item lines="none" class="ion-margin-top">
        <ion-icon slot="" name="wallet-outline"></ion-icon>
        <ion-label>Credito: mia fallabela</ion-label>
        <ion-radio slot="start" value="Credito"></ion-radio>
      </ion-item>

      <ion-item lines="none" class="ion-margin-top">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>Efetivo</ion-label>
        <ion-radio slot="start" value="efectivo"></ion-radio>
      </ion-item>
      <br>
    <ion-button routerLink="/agregartar" expand="block" color="tertiary">
      Agregar tarjeta
    </ion-button>
    </ion-radio-group>
    <br>
    
  </ion-list>
</ion-content>